.card {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

.delete {
  padding: 5px 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact div {
  display: flex;
  gap: 10px;
  align-items: center;
}
